{
    "DISCORD_TOKEN": "ODcyMDAxMzI5OTQ4NjgwMjAy.YQjghg.pW4qOaCFtuoC_xXugi3R_bzxwAs",
    "VOICETEXT_API_KEY": "s5ispjhd9ez9lzft",
    "PREFIX": "yomi.", //DEFAULT:"yomi."
    "SPEAKER": "hikari", //show/haruka/hikari/takeru/santa/bear DEFAULT:"hikari"
    "PITCH": 100, //50~200 DEFAULT:100
    "SPEED": 110 //50~400 DEFAULT:110
}
